body {
    /* width: 960px;
    height: 960px;
    margin: 0;
    padding: 0; */
    background-image: url(../Basic-Portfolio/assets/Images/papyrus.png)
}

.content {
   margin: 0 auto;
    border: 3px solid black;
    background: white;
    align-content: center;
    height: 400px;
    width: 85%;
}


.topnav {
    background-color: white;
    overflow: hidden;
    position: relative;
    top: -80px;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-bottom: solid darkgray;
}

.topnav li {
    display: inline;
    /* border-left: solid gray */
}

.topnav a {
    float: right;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
h1 {
    background-color: #4aaaa5;
    color: white;
    width: 140px;
    text-align: center;
    position: relative;
    left: 150px;
    z-index: 1;
}

h2 {
    color: #4aaaa5;
    /* position: absolute; */
    /* left: 16px; */
    /* top: -70px; */
    border-bottom: 5px solid;
    width: 100%;
}

a {
    float: right;
    /* position: absolute; */
    padding: 10px;
    text-align: center;
    color: gray;
    border-left: solid gray;
    /* top: -50px; */
    
}


}
.p1 {
    width: 700px;
    float: right;
    height: 150px;
    position: absolute;
    left: 225px;
    top: 50px;
}


.paragraph {
    float: right;
    width: 80%
}

.other-paragraph {
    float: left;
    width: 100%
}

.image {
    float: left;
    width: 20%;
}

#content_wrap {
    width: 960px;
    margin: 0 auto;
}

.img-about {
    float: left;
    /* padding: -50px;     */
    height: 100px;
    width: 100px;
    left: 97px;
    top: 70px;
}

footer {
    text-align: center;
    bottom: -8px;
    position: absolute;
    width: 100%;
    border-top: solid #4aaaa5;
    background: gray;
    height: 42px;
}
